.registerContainer {
  background-color: #ffffff;
  height: 100vh;
}

.mainContainer {
  display: flex;
  flex-wrap: nowrap;
}

.leftContainer {
  width: 50vw;
  height: 100vh;
  overflow: hidden;
}

.leftContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightContainer {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContainer .form {
  width: 60%;
  height: 90%;
}

.createAccountText {
  font-size: 2rem;
  font-weight: 500;
}

.loginRedirection {
  font-size: 17px;
  font-weight: 400;
  color: #404040;
}

.loginRedirection span {
  text-decoration: underline;
  font-weight: 500;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.label {
  font-size: 18px;
  font-weight: 400;
  color: #666666;
  margin-bottom: 6px;
}

.inputField {
  padding: 1.2em;
  border-radius: 12px;
  border-color: #66666659;
}

.privacyAndPolicy {
  margin-top: 2em;
  color: #666666;
}

.privacyAndPolicy span {
  text-decoration: underline;
  font-weight: 500;
}

.reCaptchaContainer {
  height: 7%;
  width: 65%;
  border: 1px solid #333333;
  border-radius: 18px;
  margin-top: 40px;
}

.reCaptchaItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkBox {
  padding-left: 30px;
  padding-top: 5px;
  color: #2d1818;
}

.checkBox span {
  margin-left: 6px;
}

input[type="checkbox"] {
  accent-color: green;
}

.captchaIcon img {
  width: 45px;
  height: 45px;
}

.captchaIcon {
  padding-right: 30px;
  padding-top: 10px;
}

.createAccountButtonContainer {
  margin-top: 30px;
}

.createAccountButton {
  padding: 1em;
  width: 250px;
  border-radius: 32px;
  border: none;
  font-weight: 500;
  font-size: 22px;
  background-color: #c3c3c3;
  color: white;
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
  }

  .createAccountText {
    font-size: 1.6rem;
  }

  .loginRedirection {
    font-size: 14px;
  }

  .leftContainer,
  .rightContainer {
    width: 100%;
  }

  .leftContainer {
    height: auto;
  }

  .rightContainer {
    margin-bottom: 10em;
  }

  .leftContainer img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .checkBox span {
    font-size: 12px;
  }

  .reCaptchaContainer {
    width: 60%;
  }

  .createAccountButton {
    padding: 0.5em;
    width: 100%;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .reCaptchaContainer {
    width: 100%;
  }
}
